<div class="gap"></div> 
 <div class="container">
        <div class="row">
            <div class="span3">
                <form ng-submit="handleSubmit()">
                <label>Lokasi Mobil Sewa</label>
                <select name="lokasi_mobil" ng-model="filter.lokasi_mobil">
                	<option value="">Pilih!</option>
                	<option ng-repeat="city in cities" value="{{ city.city_name }}" ng-model="car_city">{{ city.city_name }}</option>
                </select>
                
                <label>Kelas Mobil</label>
                <select name="kelas_mobil" ng-model="filter.kelas_mobil">
                	<option value="">Pilih!</option>
                	<option ng-repeat="car_class in car_classes" value="{{ car_class.name }}" ng-model="car_class">{{ car_class.name }}</option>
                </select>
                
                <label>Tahun Mobil</label>
					 <select name="tahun_mobil" ng-model="filter.tahun_mobil">
					 	<option value="">Pilih!</option>
					 	<option ng-repeat="year in years" value="{{ year }}">{{ year }}</option>
					 </select>
					 
					 <input type="submit" class="btn btn-primary btn-large" value="Filter">
                
                </form>
            </div>
            <div class="span9">
                <div class="row row-wrap">
 						
 						<div ng-switch="vehicle_exists">
                    <div class="span3" ng-repeat="vehicle in vehicles" ng-switch-when="yes">
                        <!-- COUPON THUMBNAIL -->
                        <a href="order_sewa_mobil.html?license_plate={{ vehicle.vehicle_license_plate }}" class="coupon-thumb">
                            <img src="{{ vehicle.vehicle_photo.url }}" alt="Image Alternative text" title="AMaze" />
                            <div class="coupon-inner">
                                <h5 class="coupon-title">{{ vehicle.partner_id.user_id.full_name }}</h5>
                                <p class="coupon-desciption">{{ vehicle.car_id.car_name }} {{ vehicle.vehicle_year }} {{ vehicle.car_class }}</p>
                                <div class="coupon-meta"><span class="coupon-time">{{ vehicle.lokasi_mobil }}</span>
                                    <div class="coupon-price"><span class="coupon-new-price">Sewa</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="span3" ng-switch-when="no">
                    	Data tidak ditemukan
                    </div>
                  
                </div>
                <!--
                <div class="pagination">
                    <ul>
                        <li class="prev disabled">
                            <a href="#"></a>
                        </li>
                        <li class="active"><a href="#">1</a>
                        </li>
                        <li><a href="#">2</a>
                        </li>
                        <li><a href="#">3</a>
                        </li>
                        <li><a href="#">4</a>
                        </li>
                        <li><a href="#">5</a>
                        </li>
                        <li class="next">
                            <a href="#"></a>
                        </li>
                    </ul>
                </div>
                -->
                <div class="gap"></div>
            </div>
        </div>
    </div>